---
layout: default
---


<style>

    
.topnav {
  #position: fixed;
  #top: 0px;
  #width: 100%;
  overflow: hidden;
  background-color: white;
  #border-bottom: 1px solid #00aeef;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #00aeef;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:checked .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}   
    
.ieeevrbanner{
    padding: 0px;
    border-radius: 10px;
}
    
.column {
    float: left;
    padding: 10px;
}
.left {
    width: 75%;
}
.center {
    width: 2%;
}
    
.right {
    width: 22%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
    
.sponsorsend {
    display: block;
}
    
.ieeevrfooter {
    position: static;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 16px;
}
    
.social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:50px;
  height:50px;
  margin-right: 30px;
}

    

    
@media screen and (max-width: 900px) {
    .left {
        width: 100%;
    }
    .center {
        display: none;
    }
    .right {
        width: 100%;
    }
    .sidebar-header-icon
    {
        display: none;
        padding: 0px 0px;
    }
    .confsponsors
    {
        #display: none;
    }
    .conf-icon {
        width: 200px;
    }    
}
    
    

    
    
</style>



<button onclick="topFunction()" id="myBtnTop" title="Go to top">Top</button>

<script>
var mybutton = document.getElementById("myBtnTop");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    
    
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>



<div id="main" role="main">
  <article class="splash" style="margins:0px;" itemscope itemtype="https://schema.org/CreativeWork">

      
      
      <!-- navbar -->  
      <div class="topnav" id="myTopnav">
        <a href="/" class="active">IEEE VR</a>
        <a href="/about">About</a>
        <!-- <a href="#">Online</a>  -->
        <!-- <a href="#">Attend</a>  -->
        <!-- <a href="#">Program</a> -->
        <div class="dropdown">
            <button class="dropbtn">Contribute &#9662;</button>
            <div class="dropdown-content">
            <a href="/contribute/">Call for Papers</a>
            </div>
        </div>
        <!-- <a href="#">Awards</a> -->
        <!--
        <div class="dropdown">
            <button class="dropbtn">Committees &#9662;</button>
            <div class="dropdown-content">
            <a href="/committees/conference-committee/">Conference Committee</a>
            <a href="/committees/program-committee/">Program Committee</a>
            <a href="/committees/steering-committee/">Steering Committee</a>
            </div>
        </div>
        -->
        <a href="/past-conferences/">Past Conferences</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>

      
    <!-- banner -->  
    <img class="ieeevrbanner" src="/assets/images/ieeevr-banner.jpg">
      
    <!-- content -->  
    <section class="page__content" itemprop="text">
        <div class="row">

            
            
            <!-- left sidebar -->  
            <div class="column left" style="">
                

                {{ content }}

                
            </div>
            <div class="column center" style=""></div>
            
            <!-- Main Content -->  
            <div class="column right" style="text-align: center">
                
                <!-- <img class="sidebar-header-icon" src="/assets/images/ieeevr-logo.jpg">-->
                <!-- <a class="twitter-timeline" data-height="450" href="https://twitter.com/IEEEVR?ref_src=twsrc%5Etfw">Tweets by IEEEVR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                <div>
                    <ul class="social-icons">
                        <li><a href="https://facebook.com/ieeevr"><img src='/2021/assets/images/social/circle-color/Facebook.png' /></a></li>
                        <li><a href="http://www.twitter.com/ieeevr"><img src='/2021/assets/images/social/circle-color/Twitter.png' /></a></li>
                    </ul>
                </div>

                <div class="confsponsors" id="sponsors">
                    <h4 style="border-bottom: 1px solid black;padding-bottom: 5px;">Conference Sponsors</h4>

                    <b>Gold</b><br>
                    <img class="conf-icon" src="/assets/images/sponsors/IST_A_RGB_POS.png">
                    <br>
                    <br>
                </div>
                
                
                
            </div>
        </div>
        
        <!--  footer --> 
        <div class="ieeevrfooter">
                <p>© IEEEVR Conference</p>    
        </div>
    </section>
      
  </article>
</div>
