---
layout: default
---
<!-- For all browsers -->
<script src="https://kit.fontawesome.com/4eee35f757.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?version=20240305_1">
<link rel="stylesheet" href="{{ '/assets/css/tableStyles.css' | relative_url }}?version=20240305_1">
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}?version=20240305_1">

<button onclick="topFunction()" id="myBtnTop" title="Go to top">Top</button>

<script>
    var mybutton = document.getElementById("myBtnTop");

    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<div id="main" role="main">
    <article class="splash" style="margin:0px;" itemscope itemtype="https://schema.org/CreativeWork">
         <!-- banner -->
         <a href={{ "/" | relative_url }}><img class="ieeevrbanner" src={{ "/assets/images/IEEEVR_2024_LogoBanner.png" | relative_url }} alt="The official banner for the IEEE Conference on Virtual Reality + User Interfaces, comprised of a Kiwi wearing a VR headset overlaid on an image of Mount Cook and a braided river."></a>

        <!-- navbar -->
        <div class="topnav" id="myTopnav">
            <div class="dropdown">
                <button class="dropbtn">Attend &#9662;</button>
                <div class="dropdown-content">
                    <a href={{ "/attend/code-of-conduct/" | relative_url }}>Code of Conduct</a>
                    <a href={{ "/attend/registration/" | relative_url }}>Registration</a>
                    <a href={{ "/attend/getting-around/" | relative_url }}>Getting Around at IEEE VR</a>
                    <a href={{ "/attend/accommodations" | relative_url }}>Accommodations</a>
                    <a href={{ "/attend/tourism" | relative_url }}>Tourism & Dining</a>
                    <a href={{ "/attend/mentorship/" | relative_url }}>Mentorship Program</a>
                    <a href={{ "/attend/DEIA-grants/" | relative_url }}>DEIA Grants</a>
                    <a href={{ "/attend/DEIA-streaming/" | relative_url }}>DEIA Accessibility Streaming</a>
                </div>
            </div>
            
            <div class="dropdown">
                <button class="dropbtn">Program &#9662;</button>
                <div class="dropdown-content">
                    <a href={{ "/program/at-a-glance/" | relative_url }}>At a Glance</a>
                    <a href={{ "/program/overview/" | relative_url }}>Program Overview</a>
                    <a href={{ "/program/keynote-speakers/" | relative_url }}>Keynote Speakers</a>
                    <a href={{ "/program/papers/" | relative_url }}>Papers</a>
                    <a href={{ "/program/posters/" | relative_url }}>Posters</a>
                    <a href={{ "/program/future-faculty-forum/" | relative_url }}>Future Faculty Forum (F3)</a>
                    <a href={{ "/program/workshop/" | relative_url }}>Workshops</a>
                    <a href={{ "/program/tutorials/" | relative_url }}>Tutorials</a>
                    <a href={{ "/program/doctoral-consortium/" | relative_url }}>Doctoral Consortium</a>
                    <a href={{ "/program/demos/" | relative_url }}>Research Demos</a>
                    <a href={{ "/program/special-sessions/" | relative_url }}>Special Sessions</a>
                    <a href={{ "/program/3dui-contest/" | relative_url }}>3DUI Contest</a>   
                </div>
            </div>
            
            <a href={{ "/contribute/exhibitors" | relative_url }}>Sponsor/Exhibit</a>

            <div class="dropdown">
                <button class="dropbtn">Contribute &#9662;</button>
                <div class="dropdown-content">
                    <a href={{ "/contribute/papers/" | relative_url }}>Call for Papers</a>
                    <a href={{ "/contribute/posters/" | relative_url }}>Call for Posters</a>
                    <a href={{ "/contribute/workshops/" | relative_url }}>Call for Workshops</a>
                    <a href={{ "/contribute/3dui-contest/" | relative_url }}>Call for 3DUI Contest Entries</a>
                    <a href={{ "/contribute/demos/" | relative_url }}>Call for Research Demos</a>
                    <a href={{ "/contribute/doctoral-consortium/" | relative_url }}>Call for Doctoral Consortium</a>
                    <a href={{ "/contribute/tutorials/" | relative_url }}>Call for Tutorials</a>
                    <a href={{ "/contribute/studentVolunteers/" | relative_url }}>Call for Student Volunteers</a>
                    <a href={{ "/contribute/supportStudentParticipation/" | relative_url }}>Support Student Participation</a>
                </div>
            </div>
             <div class="dropdown">
                <button class="dropbtn">Awards &#9662;</button>
                <div class="dropdown-content">
                    <a href={{ "/awards/conference-awards" | relative_url }}>Conference Awards</a>
                    <a href={{ "/awards/vgtc" | relative_url }}>VGTC Awards</a>
                </div>
            </div> 

            <div class="dropdown">
                <button class="dropbtn">Committees &#9662;</button>
                <div class="dropdown-content">
                    <a href={{ "/committees/conference-committee/" | relative_url }}>Conference Committee</a>
                    <a href={{ "/committees/steering-committee/" | relative_url }}>Steering Committee</a> 
                    <a href={{ "/committees/program-committee/" | relative_url }}>Program Committee</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Resources &#9662;</button>
                <div class="dropdown-content">
                    <a href={{ "/resources/slide-templates" | relative_url }}>Slide Templates</a>
                    <a href={{ "/resources/poster-templates" | relative_url }}>Poster Templates</a>
                    <a href={{ "/resources/logos" | relative_url }}>Conference Logos</a> 
                    <a href={{ "/resources/zoom-backgrounds" | relative_url }}>Zoom Backgrounds</a>                     
                </div>
            </div>         
            <a href={{ "/past-conferences/" | relative_url }}>Past Conferences</a>
            <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

       
        <!-- content -->
        <section class="page__content" itemprop="text">
            <div class="row">
                <!-- Main Content -->
                <!-- left sidebar -->
                <div class="column left">
                    {{ content }}
                </div>
                <div class="column center"></div>

                <!-- right sidebar -->
                <div class="column right alignCenter"> 
                    <div class="confsponsors" id="sponsors">
                        <div>
                            <a href="https://www.ieee.org" target="_new" style="width:30%;"><img src={{ "/assets/images/sponsors/ieee-logo-white.svg" | relative_url }} alt="IEEE" style="height: 35px;"></a>&nbsp;
                            <a href="https://www.computer.org" target="_new" style="width:30%;"><img src={{ "/assets/images/sponsors/ieee-cs-logo-white.svg" | relative_url }} alt="IEEE Computer Society" style="height: 35px;"></a>
                            <a href="http://vgtc.org" target="_new" style="width:30%;"><img src={{ "/assets/images/sponsors/ieee-vgtc-logo-white.svg" | relative_url }} alt="IEEE Visualization and Graphics Technical Community" style="height: 35px;"></a>
                        </div>
                        
                        <br>
                        <hr class = "social-hr"> 
                        <div>
                            <ul class="social-icons">
                                <li><a href="https://facebook.com/ieeevr"><img src={{ "/assets/images/social/Facebook.png" | relative_url }} alt="Facebook" /></a></li>
                                <li><a href="http://www.twitter.com/ieeevr"><img src={{ "/assets/images/social/twitter.png" | relative_url }} alt='Twitter' /></a></li>
                            </ul>
                        </div>
                        <hr class = "social-hr">

                        <a href={{ "/contribute/supportStudentParticipation/" | relative_url }} target="_new" style="width:30%;">
                            <img src={{ "/assets/images/sponsors/GoFundMe.png" | relative_url }} alt="Student Participation" style="height: 35px;">
                            <div class="small">Support Student Participation</div>
                        </a>         
                        <!-- Conference Sponsors -->
                        <h4 class="sponsor_section" style="padding-top: 20px;"">Conference Sponsors</h4>                         
                        
                        <!-- Special -->
                        <div class="confsponsors-type">Special</div>
                        <img src={{ "/assets/images/sponsors/ucf.jpg" | relative_url }} alt="UCF" style="width: 95%;padding-top: 20px;padding-bottom: 20px;">
                        <br>

                        <!-- Silver -->
                        <div class="confsponsors-type">Silver</div>                        
                        <img src={{ "/assets/images/sponsors/jpmorgan.svg" | relative_url }} alt="JP Morgan Chase & Company" style="padding-top: 5px;padding-bottom: 5px;">
                        <br>
                      
                        <!-- Bronze -->
                        <div  class="confsponsors-type">Bronze</div>
                        <img src={{ "/assets/images/sponsors/christie.jpg" | relative_url }} alt="Christie">
                        <br>

                        <!-- Doctoral Consortium Sponsors -->
                        <h4 class="sponsor_section">Doctoral Consortium Sponsors</h4>
                        <img src={{ "/assets/images/sponsors/EAC.png" | relative_url }} alt="UA Little Rock, Emerging Analytics Center" style="width: 90%;">
                        <br>

                        <!-- Supporters -->
                        <h4 class="sponsor_section">Supporters</h4>
                        <img src={{ "/assets/images/sponsors/techviz.png" | relative_url }} alt="TECHVIZ" style="width: 65%;">
                    </div>
                </div>
            </div>

            <!--  footer -->
            <div class="ieeevrfooter">
                <hr>
                <small><a href={{ "/attend/code-of-conduct/" | relative_url }}>Code of Conduct</a></small><br/>
                <div>
                    <a href="https://www.ieee.org" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/ieee-logo-white.svg" | relative_url }} alt="IEEE" style="height: 35px;">
                    </a>
                    <a  href="https://www.computer.org" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/ieee-cs-logo-white.svg" | relative_url }} alt="IEEE Computer Society" style="height: 35px;">
                    </a>
                    <a href="http://vgtc.org" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/ieee-vgtc-logo-white.svg" | relative_url }} alt="IEEE Visualization and Graphics Technical Community" style="height: 35px;">
                    </a>
                </div>
                <p style="text-align:center ! important;">©IEEE VR Conference 2024, Sponsored by the IEEE Computer Society and the Visualization and Graphics Technical Committee</p>
            </div>
        </section>

    </article>
</div>
